/* registration.css */


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/1567679.jpg');
  background-size: cover;
}

.registration-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
  }

